.light-background {
    background-color: #FFFFFF;
}

.link:hover {
    color: #9400d3;
}

.link:active {
    color: #5e0087;
}

.cover-button:hover {
    border: 1px solid #0bd33d;
    color: #0bd33d;
    box-shadow: 0 0 5px 5px #0bd33d;
}

.cover-button:active {
    border: 1px solid #13681e;
    color: #13681e;
    box-shadow: 0 0 5px 5px #13681e;
}

.header, .footer-section {
    font-size: 18px;
}

.lots-title, .about-title {
    font-size: 40px;
}

.header {
    display: grid;
    background-color: white;
    min-height: 293px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0 50px;
    font-weight: 400;
}

.header-logo-svg {
    height: 105px;
    width: 148px;
    justify-self: center;
}

.header-address,
.footer-address {
    width: 240px;
    line-height: 1.37;
}

.header-address .link,
.footer-address .link {
    display: block;
}

.header-address {
    justify-self: end;
    margin-bottom: 5px;
}

.header-menu-list {
    display: flex;
    list-style-type: circle;
    column-gap: 33px;
    margin-bottom: 5px;
}

.main-class {
    display: flex;
    flex-direction: column;
    row-gap: 180px;
    padding-bottom: 180px;
}

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 757px;
    color: whitesmoke;
    padding: 165px 50px 50px;
    text-transform: uppercase;
}

.cover-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 355px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    row-gap: 17px;
}

.cover-title .text-align-center {
    margin-left: 2rem;
}

.cover-title .text-align-right {
    margin-right: -2rem;
}

.cover-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    min-height: 51px;
}

.cover-description-text {
    word-spacing: 1.25rem;
}

.low-spacing {
    word-spacing: 1.1rem;
}

.cover-button {
    all: unset;
    border: 1px solid white;
    align-self: stretch;
    text-align: center;
    cursor: pointer;
    padding: 8px 32px;
    transition: all 0.5s ease;
}



.section {
    padding: 0 24px;
}

.cover-section {
    padding: 0;
}

.lots-title {
    margin-bottom: 27px;
}

.lots, .about-column {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.grid-lots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.lot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 596px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 48px 40px;
}

.lot-list {
    transition: all 0.5s ease;
}

.lot-list:hover {
    transform: scale(1.1);
}

.frame-title {
    font-size: 22px;
}

.frame-film {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/card-lot-01.jpg);
}

.frame-book {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/card-lot-02.jpg);
}

.frame-painting {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/card-lot-03.jpg);
}

.watch-more-lots-text {
    margin-top: 30px;
}

.about {
    display: grid;
    grid-template-rows: 240px 1fr;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    row-gap: 7px;
    grid-template-areas:
        "logo about-title"
        ". about-column";
}

.logo-column {
    grid-area: logo;
    display: flex;
    justify-content: center;
    padding-left: 47px;
    padding-right: 72px;
}

.logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 100%;
    width: 240px;
    height: 240px;
    padding: 46px;
}

.about-title {
    grid-area: about-title;
    margin-top: 9px;
}

.about-column {
    row-gap: 24px;
    grid-area: about-column;
}

.footer-section {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    min-height: 180px;
    padding: 0 50px;
}

.footer-address {
    width: 265px;
    justify-self: start;
}

.socials {
    display: flex;
    justify-content: space-between;
    justify-self: end;
    column-gap: 20px;
    width: 240px;
}

.socials-svg {
    height: 48px;
    width: 48px;
}